*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: black;
    pointer-events: none;
    cursor: cell;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: white;
}

*::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}